[Unit]
Description=run ec2 set dns zone during boot
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/etc/init/ec2-set-dns-zone

[Install]
WantedBy=multi-user.target
